<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<h1>Reading from imdb json file</h1>
		<table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
					<th>Popularity</th>
					<th>Director</th>
					<th>IMDB Score</th>
					<th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
					<td>{{ .Popularity }}</td>
					<td>{{ .Director }}</td>
					<td>{{ .Score }}</td>
					<td>{{ .Name }}</td>
        </tr>
      </tbody>
    </table>
	</body>
